h1 {
    color: black;
    font-family: 'Space Mono', monospace;
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
    line-height:142.18px;
}

h2 {
    color: black;
    font-family: 'Space Mono', monospace;
    font-size: 66px;
    font-weight: 400;
    font-style: italic;
    line-height: 58px;

}

h3 {
    color: black;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.66px;

}

p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}